# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
1git.zip
ACTION_REQUIRED.md
COGNITO_SETUP.md
FIX_CLIENT_SECRET_ERROR.md
PASSWORD_VALIDATION.md
git.zip
public.zip